<div class="container-fluid">
	<div class="center hero-unit">
		<h1>Project Connecter</h1>
		<h2>This is the home page for the Project Connecter</h2>
		<br>
		<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> 
	</div>		
</div>



