<h3><%= link_to @project.name, @project %> <i class="icon-arrow-right"></i> Issues </h3>
<hr />
<div class="pull-right navlist">
<%= link_to 'New Issue', new_project_issue_path(@project), :class => 'btn' %>
</div>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>Open issues</th>
    </tr>
  </thead>
  <tbody>
    <% if @issues.opened.none? %>
      <tr>
        <td>There are currently issues. Awsome!</td>
      </tr>
    <% else %>
    	<% @issues.opened.each do |issue| %>
      <tr>
        <td>
          <%= render :partial => 'issue', :locals => { :issue => issue , :project => @project } %>
        </td>
      </tr>
    	<% end %>
    <% end %>
  </tbody>
</table>


<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Closed issues</th>
    </tr>
  </thead>
  <tbody>
    <% if @issues.closed.none? %>
      <tr>
        <td>There are no closed issues</td>
      </tr>
    <% else %>
      <% @issues.closed.each do |issue| %>
      <tr>
        <td>
          <%= render :partial => 'issue', :locals => { :issue => issue , :project => @project } %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

