
<div class="project-nav">
  <ul class="nav nav-tabs ">
    <li>
      <%= link_to project_todolists_path(project) do %>
        To-dos
        <% if (count = project.todos.incomplete.count).nonzero? %>
          <span class="badge"><%= count %></span>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to project_issues_path(project) do %>
        Issues
        <% if (count = project.issues.opened.count).nonzero? %>
          <span class="badge"><%= count %></span>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>