<div class="project-nav">
  <ul class="nav nav-tabs ">
    <li>
      <%= link_to account_project_worklists_path(current_account, project) do %>
        Item Lists
        <% if (count = project.items.incomplete.count).nonzero? %>
          <span class="badge"><%= count %></span>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to account_project_issues_path(current_account, project) do %>
        Issues
        <% if (count = project.issues.opened.count).nonzero? %>
          <span class="badge"><%= count %></span>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>