<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>Projects
    	
    		<%= link_to new_account_project_path(current_account), :class => 'pull-right' do %>
        <i class="icon-plus icon-white"></i> New Project
        <% end %>
    	</th>
    </tr>
  </thead>
  <tbody>
    <% unless @projects.empty? %>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, account_project_path(current_account, project) %>
        
        
           
        	 <%= link_to edit_account_project_path(current_account, project), :class => 'pull-right', :method => 'get' do %>
             <i class="icon-pencil icon-white"></i> edit
            <% end %>
          
          </td>
        </tr>
      <% end %>
    <% else %>

      <tr>
        <td>There are currently no projects.</td>
        <td></td>
      </tr>
  
    <% end %>
  </tbody>
</table>