<h3><%= @project.name %></h3>

<%= render_project_menu @project %>
<div class="navlist">
   Lists <%= link_to 'Add list', new_project_worklist_path(@project), :class => 'btn btn-mini' %>
</div>

<%= render_worklists @project.worklists %>