<h3><%= @project.name %></h3>

<%= render_project_menu @project %>
<div class="navlist">
  To-do Lists <%= link_to 'Add to-do list', new_project_todolist_path(@project), :class => 'btn btn-mini' %>
</div>

<%= render_todolists @project.todolists %>