<% worklists.each do |worklist| %>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
       <%= render :partial => 'worklists/list_header', :locals => { :worklist => worklist } %>
      </th>
     </tr>
  </thead>
  <tbody>
    <% if worklist.todos.none? %>
      <tr>
        <td>
          Let's get started and add some tasks to the list
        </td>
      </tr>
    <% elsif worklist.todos.incomplete.none? %>
      <tr>
        <td>
          All todos have been completed, why not add some more?
        </td>
      </tr>
    <% else %>
      <% worklist.todos.incomplete.each do |todo| %>
        <tr>
          <td>
            <%= render :partial => 'todos/todo', :locals => { :worklist => worklist,
                                                              :todo => todo,
                                                              :project => @project } %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>
        <%= link_to new_project_worklist_todo_path(@project, worklist, :from => controller.controller_name )  do%>
          <i class="icon-plus"></i> Add to-do
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br />
<% end %>