<%=link_to todolist.name, [@project, todolist], :class => 'todo-list' %>
<div class='pull-right'>
    <% if todolist.start_date? && todolist.start_date.future? %>
      	Due to start in: <span class="date"><%= relative_date(todolist.start_date) %> </span>
        Duration: <span class="date"><%= relative_date(todolist.end_date, todolist.start_date) %></span>
    <% elsif todolist.end_date? %>
          <%= formatted_todolist_end_date todolist %>
    <% end %>
</div>