<h3><%= link_to @project.name, @project %></h3>
<%= render_project_menu @project %>

  <div class="pull-right navlist"> <%= link_to [:edit, @project, @worklist, @item], :class => 'btn',
                                               :method => 'get' do %>
            <i class="icon-pencil icon-white"></i> Edit To-do
          <% end %></div>


<table class="table table-bordered table-condensed">
  <thead>
    <tr>
    	<th>
        <%= render :partial => 'items/item', :locals => { :worklist => @worklist, 
                                                              :item => @item, 
                                                              :project => @project } %>
      </th>
     </tr>
  </thead>
  <tbody>
        <tr>
          <td>
           <P>
            Detailed infomation about the task<br>
            such as issues, comments, dates and attached files
           <p>
           </td>
        </tr>
  </tbody>
</table>

<br />
<br />
