/* universal */
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  max-width:  1200px;
  margin: 0 auto;
  
  
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}
p{
font-size: 1.1em; line-height: 1.7em;
}


/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
color: #fff;
  text-decoration: none;
}

/* Title */
#title {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  text-align: right; 
}

/* project nav */

.project-nav {
  margin-top: 40px;
  padding-bottom: 0px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  vertical-align: middle;

}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea; 
  color: $grayLight;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 5px;
  height: auto;
  margin-bottom: 15px;
  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
